<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>KinopoiskParserObj.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>1E7328EE1D7813740027E46E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1E73290A1D7813750027E46E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1E7329151D7813750027E46E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
